<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.ProjectManagement.Example\packages.config" />
  <repository path="..\src\Orc.ProjectManagement.Tests\Orc.ProjectManagement.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.ProjectManagement.Tests\Orc.ProjectManagement.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.ProjectManagement\Orc.ProjectManagement.NET40\packages.config" />
  <repository path="..\src\Orc.ProjectManagement\Orc.ProjectManagement.NET45\packages.config" />
</repositories>